# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# Env
.env
.env.*.local

# Optional: if you use Prettier
.prettiercache

# Optional: if you use Webpack caching
.cache/